
<div class="section">
  <app-navigation></app-navigation>
  <div class="container1">
    <div class="content-section">
      <div class="title1">
        <h2>About Us</h2>
      </div>
      <div class="content1">
        <h3>We're Dad Studios</h3>
        <p>At We're Dad, we initially started as a social group,
          but our evolution has led us to become a serious and dedicated platform.
          We are committed to developing
          software applications and entertainment, encompassing websites, games, arts, and music.
          </p>
          <p>Our company proffers Software and Entertainment. </p>
      </div>
      <div class="social">
        <a href="https://www.instagram.com/ashijunior/" target="_blank">
          <i class="fa-brands fa-instagram"></i></a>
        <a href="mailto:ebubeashibuogwu@gmail.com"><i class="fa fa-envelope-o"></i></a>
        <a href="tel: +2349037846342"><i class="fa fa-phone-square"></i></a>
      </div>
    </div>
    <div class="image-section1">
      <img src="assets/pictures/floatbox.png" alt="">
    </div>
  </div>
</div>

<app-footer></app-footer>
