<div class="middle-container">
  <section>
    <div class="text">
      <p class="text1">We're Dad Studios</p>
      <div class="text2">Fostering and fortifying our future.</div>

      <p class="text3">
        Our goal is to inspire and support the leaders of tomorrow as
        they navigate their educational journey.
      </p>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <div class="pic">
        <img src="assets\pictures\rick.png"  alt="rick" class="pic1">
        <div class="content">
          <h1 class="h12">OUR PURPOSE</h1>
          <p class="p1">
            At We're Dad Studios, we specialize in creating innovative designs for applications,
            arts, photo editing, music, and websites.
            Our mission is to revolutionize the digital landscape through creative solutions,
            delivering high-quality designs for intuitive user experiences, promoting innovation, efficiency,
            and aesthetic appeal.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="side-container">
      <div class="box">
        <img src="assets/pictures/simpson.jpg" alt="simpson" class="pics">
      </div>
      <div class="down-container">
        <div class="box1">
          <h1 class="h11">WHAT DOES OUR PROJECT INVOLVE...</h1>
          <p class="p12">
            At We're Dad Studios, our expertise lies in crafting inventive and streamlined designs for applications,
            arts, music, and websites. Our mission is to revolutionize the digital realm with imaginative solutions,
            delivering top-notch designs that empower users with user-friendly experiences and foster innovation,
            efficiency, and aesthetic allure.
          </p>
          <div>
            <img src="assets/pictures/oldtime.png" alt="your-image" class="pics10">
          </div>
        </div>

      </div>
    </div>

  </section>



</div>


