<section class="body">
  <div class="wrapper">
    <form [formGroup]="forgotForm" (ngSubmit)="confirmToSend()">
      <h1>Forgot Password?</h1>
      <p>Enter your email to receive the reset link.</p>
      <div class="input-box"
        [class.error]="forgotForm.get('email')?.dirty && forgotForm.get('email')?.hasError('required')">
        <input
        id="email" name="email"
          formControlName="email"
          type="email"
          placeholder="Email"
          required>
      </div>

      <small *ngIf="forgotForm.get('email')?.dirty && forgotForm.get('email')?.hasError('required')">
        *Email is required
      </small>
      <small
      *ngIf="!forgotForm.get('email')?.errors?.['required'] && !checkValidEmail(forgotForm.get('email')?.value)">
        *Email is invalid
      </small>

      <button type="submit" class="btn">Send</button>

      <!-- <div class="register-link">
        <p>Changed your account?
          <a routerLink="/">Log-In</a>
        </p>
      </div> -->
    </form>
  </div>
</section>
