
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="body">

  <div class="wrapper">
    <form [formGroup]="resetPasswordForm"  (ngSubmit)="reset()">
      <h1>Reset Password</h1>

      <div class="input-box"
      [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')"
      >
        <input type="password" formControlName="password" placeholder="Password" required>
        <i class="fa fa-lock"></i>
        <small
        *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')">
          *Password is required
          </small>
      </div>

      <div class="input-box"
      [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')"
      >
        <input type="password" formControlName="confirmPassword" placeholder="ConfirmPassword" required>
        <i class="fa fa-lock"></i>
        <small
        *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')">
          *ConfirmPassword is required
        </small>
        <small
        *ngIf="resetPasswordForm.hasError('confirmPasswordValidator', 'confirmPassword')">
          *ConfirmPassword doesn't match!
        </small>
      </div>


      <button type="submit" class="btn">Reset</button>

    </form>
  </div>

</section>


