

<div class="body1">
  <app-navigation></app-navigation>

  <div class="html">

    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/assets/pictures/ebube.jpg" alt="Ebube" style="width:100%">
          <div class="container">
            <h2>Ashibuogwu Ebube</h2>
            <p class="title">Full-stack Devloper</p>
            <p>I'm a Full-stack developer(using Angular, C#, Asp.net and MySQL)</p>
            <p>we'redad.com</p>
            <p><button class="button" routerLink="/contacts"><a >Contact Us</a></button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="/assets/pictures/frank.jpg" alt="Frank" style="width:100%">
          <div class="container">
            <h2>Aruegbe Frank</h2>
            <p class="title">Game Developer</p>
            <p>I'm a Game developer. Developed effective and effecient games.</p>
            <p>game.com</p>
            <p><button class="button" routerLink="/contacts"><a >Contact Us</a></button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="\assets\pictures\smada.jpg" alt="Adams" style="width:100%">
          <div class="container">
            <h2>Animashaun Adams</h2>
            <p class="title">Front-end Developer</p>
            <p>I'm a Front-end developer. I've created a few applications using(WordPress)</p>
            <p>press.com</p>
            <p><button class="button" routerLink="/contacts"><a>Contact Us</a></button></p>
          </div>
        </div>
      </div>
    </div>

    </div>

</div>



<app-footer></app-footer>
